<div class="card" style="margin-top: 10px">
  <div class="card-body">
    <% cache story do %>

      <%= link_to edit_project_story_path(@project, story.id), class: 'btn btn-xs btn-muted float-right' do %>
        <%= icon('fas', 'edit') %>
      <% end %>

      <h6 class="card-title"><%= story.name %></h6>
      <p class="card-text"><%= story.description %></p>

      <% if story.points %>
        <div class="badge badge-pill badge-primary small float-right"><%= story.points %></div>
      <% end %>

      <% if story.tasks.count > 0 %>
        <div class="text-success small">
          <%= icon('fas', 'check-square') %> <strong><%= story.tasks.with_done(:done).count %></strong> / <%= story.tasks.count %>
        </div>
      <% end %>

      <% if story.deadline %>
        <div class="text-warning small"><%= icon('fas', 'calendar-check') %> <%= story.deadline %></div>
      <% end %>

      <% if story.owner %>
        <div class="text-muted small"><%= icon('fas', 'user-cog') %> <%= story.owner.try(:name) %></div>
      <% end %>
    <% end %>
  </div>
</div>