<a class="btn btn-sm dropdown-toggle pt-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <h5 style="display: inline"><%= @project.name %></h5>
</a>
<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
  <%= link_to edit_project_path(@project), class: 'dropdown-item' do %>
    <%= icon('fas', 'pencil-alt') %> Edit
  <% end %>
  <%= link_to @project, method: :delete, data: {confirm: 'Are you sure you want to delete this Project?'}, class: 'dropdown-item text-danger' do %>
    <%= icon('fas', 'trash-alt') %> Delete
  <% end %>
</div>

<div class="row">
  <!--  Pending pipeline -->
  <div class="col-3" id="pipeline-todo">
    <h6>To do</h6>
    <%= render 'story_form', status: :pending %>
    <div class="card-wrapper">
      <%= render partial: 'story', collection: filter_stories(@project, status: :pending), cached: true %>
    </div>
  </div>

  <!--  Started pipeline -->
  <div class="col-3" id="pipeline-doing">
    <h6>Doing</h6>
    <%= render 'story_form', status: :started %>
    <div class="card-wrapper">
      <%= render partial: 'story', collection: filter_stories(@project, status: :started), cached: true %>
    </div>
  </div>

  <!--  Delivered pipeline -->
  <div class="col-3" id="pipeline-validating">
    <h6>Validating</h6>
    <%= render 'story_form', status: :delivered %>
    <%= render partial: 'story', collection: filter_stories(@project, status: :delivered), cached: true %>
  </div>

  <!--  Accepted pipeline -->
  <div class="col-3" id="pipeline-done">
    <h6>Done</h6>
    <%= render 'story_form', status: :accepted %>
    <%= render partial: 'story', collection: filter_stories(@project, status: :accepted), cached: true %>
  </div>

</div>

